<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Page</title>
    <style>
        .container {
            display: grid;
            grid-template-columns: 1fr 400px 40px 40px;
            gap: 10px;
            max-width: 700px;
            margin: auto;
        }
        .addContainer {
            display: grid;
            grid-template-columns: 200px 400px 40px;
            gap: 10px;
            max-width: 700px;
            margin: auto;
            justify-items: left;
        }
        .button {
            display: block;
            width: max-content;
            margin: 20px auto;
        }
        .pagination {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .add-cell {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-bottom: 10px;
        }
        .item-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
        }
        .item-cell:nth-child(odd) {
            background-color: #efefef;
        }
        .url-cell {
            justify-content: start;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <button id="newButton" class="button">New+</button>
    <div style="display: none" id="addContainer" class="addContainer">
        <div class="add-cell"><label for="short">Short Name</label></div>
        <div class="add-cell"><label for="url">URL</label></div>
        <div class="add-cell"></div>
        <div class="add-cell"><input id="short" style="width: 180px;" type="text" name="short"></div>
        <div class="add-cell"><input id="url" type="url" style="width: 380px;" name="url"></div>
        <div class="add-cell"><button id="addLinkButton">Add</button></div>
    </div>

    <div class="container" id="gridContainer">
    </div>

    <div class="pagination">
        <button id="previousItems" style="display: none" onclick="fetchData(pageNumber - 1)">Previous 50</button>
        <button id="moreItems" style="display: none" onclick="fetchData(pageNumber + 1)">Next 50</button>
    </div>
</body>
<script>
    {% include 'script.js' %}

</script>
</html>
