<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Go Links</title>
    <style>
        {% include 'style.css' %}
    </style>
</head>
<body>
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="deleteConfirmMsg"></p>
            <p>Are you sure you want to perform this action?</p>
            <button id="confirmButton">Confirm</button>
            <button id="cancelButton">Cancel</button>
        </div>
    </div>
    <button id="newButton" class="button">New+</button>
    <div style="display: none" id="addContainer" class="addContainer">
        <div class="add-cell"><label for="short">Short Name</label></div>
        <div class="add-cell"><label for="url">URL</label></div>
        <div class="add-cell"></div>
        <div class="add-cell"><input id="short" style="width: 180px;" type="text" name="short"></div>
        <div class="add-cell"><input id="url" type="url" style="width: 380px;" name="url"></div>
        <div class="add-cell"><button id="addLinkButton">Add</button></div>
    </div>

    <div class="container" id="gridContainer">
    </div>

    <div class="pagination">
        <button id="previousItems" style="display: none" onclick="fetchData(pageNumber - 1)">Previous 50</button>
        <button id="moreItems" style="display: none" onclick="fetchData(pageNumber + 1)">Next 50</button>
    </div>
</body>
<script>
    {% include 'script.js' %}

</script>
</html>
